page-load-database {

    
    .title{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 7vw;
        color: #bdbdbd;
        //text-shadow: 3px 2px color($colors, primary);
        text-align: center;
    }
    
    
    .text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        color: #bdbdbd;
        //text-shadow: 3px 2px color($colors, primary);
        text-align: center;
    }

    .content.content-md{
        background-color: darkslategrey;
    }

    .item.item-block.item-md,
    .toolbar-background.toolbar-background-md{
        background-color: transparent;
    }


    .item-text{
        color: color($colors, light);
        font-size: 15px;
    }

    .title{
        color: color($colors, light);
        font-size: 25px;
    }

    .back-button-icon.icon.icon-md.back-button-icon-md.ion-md-arrow-back{
        color: color($colors, light);
    }
}
