<div class="modal fade" id="timeTableModal" tabindex="-1" role="dialog" aria-labelledby="Book">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Finalizar Planificacion de Sesiones</h4>
            </div>
            <div class="modal-body">
                <form name="frmPlanfinalizar" ng-submit="finalizarPlan()" role="form" ng-disabled="true">
                    <div ng-class="{hidden: !loading}">
                        <h5>Cargando Plan... <i class="fa fa-clipboard hidden-xs" aria-hidden="true"></i></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: #32b8da;">
                            </div>
                        </div>
                    </div>  
                    <div class="form-group">
                        <div class="row" ng-class="{hidden: loading}">
                            <div class="col-sm-2 short-div">
                                <label class="control-label" for="Motivo">Motivo</label>
                            </div>
                            <div class="col-sm-6">
                                <select ng-model="Plan.Motivo.ID" class="form-control" required aria-required="true" name="motivo" id="motivo" data-ng-options="motivo.ID as motivo.Nombre for motivo in TipoMotivos">
                                    <option value="">Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-class="{hidden: loading}">
                        <div class="col-sm-12 text-right">
                            <button id="btnGuardar" type="submit" class="btn blue medium" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Guardando ...">Finalizar Planificacion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>