page-initial {

    ion-content{
        background-image: url(../assets/imgs/fondo.jpg);
        background-size: 130%;
        background-position: center
    }

    .forgotPass{
        text-align: center;
        color: aliceblue;
        text-shadow: 2px 2px #333333;
        font-size: 20px;
    }

    .pieDeFirma{
        text-align: center;
        color: aliceblue;
        text-shadow: 2px 2px #333333;
        position: absolute;
        bottom: 0px;
        left: 5px;
        font-size: 14px;
    }
}
